

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .navbar {
    background-color: #E47911;
    overflow: hidden;
    width: 1300px;
    top: 0;
    margin-top: 80px !important;
    position: fixed;
    z-index: 1;
    margin: 0 auto;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: 0.5s;

  }
  
  .navbar a {
   
    display: flex;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    float: left;
  }
  
  .navbar a:hover {
    /* background-color: rgb(235, 234, 234); */
    color: black;
    border-radius: 5px;
  }
  
  .navbar a .icon {
    margin-right: 8px;
  }
  
  .navbar a.icon {
    float: right;
    display: none;
  }
  
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .nav-div{
   display: flex;
   justify-content: space-between;
   float: right;
   padding: 2px;
  }

  button{
    background-color: #E47911 !important;
    border: none;
    color: yellow;
    padding: 12px 30px !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px !important;
    border: 5px;
    border-color: yellow !important;
  }


  @media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {
      display: none;
    }
    .navbar a.icon {
      float: right;
      display: block;
    }
  }